.btn {
    background-color: #03A062 !important;
    width: fit-content !important;
    color: white !important;
  }

  .btn:hover {
    background-color: green !important;
    width: fit-content !important;
    color: white !important;
    box-shadow : 0px 0px 10px 0px #03A062 !important;
  }

  .rls {
    background-color: green!important;
    width: fit-content !important;
    color: white !important;
    border-radius: 5px !important;
    min-width: 5px !important;
    min-height: 25px !important;
    padding: 5px !important;
    font-size : 12px !important;
  }

  .rls:hover {
    background-color: #FFD700 !important;
    width: fit-content !important;
    color: white !important;
    box-shadow : 0px 0px 10px 0px #FFD700 !important;
  }